#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 1em;
  padding: 0.2em;
}

div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  touch-action: pan-x pan-y;
  color: white;
}

li {
  cursor: pointer;
}

a {
  color: #FE7434;
}

a:hover {
  color: white;
  background-color: #FE7434;
}

body {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

button {
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  color: white;
  background-color: #555;
  border: none;
  border-radius: 5px;
}

button:hover:enabled {
  background-color: #FE7434;
  color: black;
  outline: solid 1px white;
}

button:active {
  background-color: #FF9454;
}

button:disabled {
  background-color: #777;
  color: #ccc;
}

#camera_input {
  display: none;
}

#camera_label {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 45px;
  cursor: pointer;
  background-color: #555;
  border: none;
  border-radius: 5px;
}

#camera_label:hover {
  background-color: #FE7434;
  color: black;
  outline: solid 1px white;
}

#camera_label:active {
  background-color: #FF9454;
}

.pictures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  margin: 0px auto;
  position: relative;
}

.organs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  margin: 0px auto;
  position: relative;
}

.organ {
  margin: 2px;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  padding-bottom: 1px;
  position: relative;
  text-align: center;
  width: 50px;
  height: 50px;
}

.organ:hover {
  outline: solid 1px white;
}

.organ img {
  width: 100%;
}
