.attributes_tab {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.attribute_unmodified {
    background-color: #444;
}

.attribute_modified {
    background-color: #af6700;

}

.attribute_new {
    background-color: #006700;
}

.attribute_deleted {
    background-color: #af2700;
}

.buttons {
    display: flex;
    justify-content: center;
}
