.results {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.result {
    position: relative;
    margin: 5px;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}
  
.result:hover {
    box-shadow: 0 0 0 1pt grey;
}

.result_selected {
    background-color: #FF9454;
}

.result-image {
    border-radius: 10px;
    width: 100%;
    height: auto;
}
  
.result-info {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    bottom: 11px;
    left: 0;
    font-size: 17px;
}
  
.result-label-title {
    font-weight: bold;
}