#camera_input {
  display: none;
}

#camera_label {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 45px;
  cursor: pointer;
  background-color: #555;
  border: none;
  border-radius: 5px;
}

#camera_label:hover {
  background-color: #FE7434;
  color: black;
  outline: solid 1px white;
}

#camera_label:active {
  background-color: #FF9454;
}

.pictures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  margin: 0px auto;
  position: relative;
}

.organs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  margin: 0px auto;
  position: relative;
}

.organ {
  margin: 2px;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  padding-bottom: 1px;
  position: relative;
  text-align: center;
  width: 50px;
  height: 50px;
}

.organ:hover {
  outline: solid 1px white;
}

.organ img {
  width: 100%;
}
