.notification_badge {
  /*  background-color: #;
    border-radius: 10px;
    border: white solid 1px;
    color: white;
    font-weight: 700;
    position: absolute;
    right: -2px;
    top: -2px;
    min-width: 20px;
    height: 5px;
    align-items: center;
    justify-items: center;*/
    position: absolute;
  top: 5px;
  right: 5px;
  min-width: 20px;
  height: 20px;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6677;
  color: white;
  font-size: 12px;
  font-weight: 500;
  border-radius: 9999px;
}