.pictures {
  display: flex;
  justify-content: center;
  height: 50px;
  margin: 20px;
  position: relative;
  margin-bottom: 25px;
}

.camera {
  margin-top: 0px;
  margin-bottom: 10px;
}

#camera_input {
  display: none;
}

.camera_label {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 45px;
}

.picture-preview {
  margin: 0px 10px;
}

.plantnet_mention {
  text-align: center;
  font-size: 0.7em;
  color: grey;
}